* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1 {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.App h4 {
  text-align: center;
}
